body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #fff;
}

main {
  flex: 1 0 auto;
}

.error {
    color:red;
}



/* Placement classes */
.mt32 {
    margin-top: 32px !important;
}
.pt16 {
    padding-top: 16px !important;
}
/* Placement classes end */