html,body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #fff;
  height: 100%;
  width: 100%;
  margin:0px 0px;
}

main {
  flex: 1 0 auto;
}

#main_navigation {
  position: relative;
  z-index: 2;
}

nav .dropdown-content li a {
  color: #0288d1;
}

.center {
  margin: 0 auto;
}

.hero-button {
  border: solid #fff 2px;
  background-color: transparent;
  box-shadow: none;
  transition: background-color 200ms ease;
}

.hero-button:hover {
  transition: all 300ms ease;
  background-color: rgba(255, 255, 255, 0.2);
}

#hero {
  height:100vh;
  position: relative;
  margin-top: -64px;
  z-index: 1;
  background: linear-gradient(272deg, #DE040C, #9EBCEB);
  background-size: 400% 400%;
  -webkit-animation: HeroArea 10s ease infinite;
  -moz-animation: HeroArea 10s ease infinite;
  -o-animation: HeroArea 10s ease infinite;
  animation: HeroArea 10s ease infinite;
}

@-webkit-keyframes HeroArea {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@-moz-keyframes HeroArea {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@-o-keyframes HeroArea {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@keyframes HeroArea {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}

#wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.error {
  color:red;
}

.content-bottom {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.timer-column .valign,
.carbs-column .valign {
  margin: 0 auto;
}

.tabs {
  overflow-x: hidden;
}

.tabs .tab a.active {
  color: #0288d1;
}

.tabs .tab a:hover {
  color: #0288d1;
}

.tabs .tab a {
  color: #0288d1;
}
.tabs .indicator {
  background-color: #0288d1; 
}

.timer-column {
  height: 280px;
  font-size: 32px;
  margin: 20px 0;
  padding: 15px 10px;
}
.timer-column .material-icons {
  font-size: 72px;
  position: relative;
  bottom: -10px;
  color: #0288d1;
}
.carbs-column {
  height: 400px;
}

.c3-legend-item text {
  font-size: 16px;
}

[type="radio"].with-gap:checked + label:before {
  border-radius: 50%;
  border: 2px solid #0288d1;
}

[type="radio"].with-gap:checked + label:after {
  border-radius: 50%;
  border: 2px solid #0288d1;
  background-color: #0288d1;
  z-index: 0;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
}

.inline-block {
  display: inline-block;
}

.image-background {
  width:100%;
  height:300px;
}

.card-fixed-size {
  height: 480px;
}
/* Placement classes */
.mt16 {
  margin-top: 16px !important;
}
.mt32 {
  margin-top: 32px !important;
}
.mb32 {
  margin-bottom: 32px !important;
}

.pt16 {
  padding-top: 16px !important;
}
.pr32 {
  padding-right: 32px !important;
}
/* Placement classes end */

/* Toast positioning */
@media screen and (min-width: 992px) {
  #toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;  
  }
}
/* Toast positioning ends */
