{% for comment in comments %}
  <div class="card-panel grey lighten-5 z-depth-1" id="comment_{{comment.id}}">
    <div class="row">
      <div class="col s12">
        <h5 class="inline-block">{{comment.user.first_name}}</h5>
        <h6 class="grey-text text-darken-2 inline-block right">{{comment.date}}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <span class="black-text" id="body_{{comment.id}}">
          {{comment.body}}
        </span>
      </div>
    </div>
    {% if comment.user == user %}
        <div style="position:relative;">
          <div class="fixed-action-btn horizontal" style="position:absolute;bottom:0;">
            <a class="btn-floating btn-large red">
              <i class="large material-icons">clear_all</i>
            </a>
            <ul>
              <li>
                <a id="delete_button" data-toggle="modal" href="#delete_modal" data-id="{{comment.id}}"
                  class="modal-trigger btn-floating waves-effect waves-light red right">
                  <i class="material-icons">delete</i>
                </a>
              </li>
              <li>
                <a id="edit_button" href="#edit_comment_modal" data-id="{{comment.id}}"
                    class="modal-trigger btn-floating waves-effect waves-light blue right">
                  <i class="material-icons">mode_edit</i>
                </a>
              </li>
            </ul>
          </div>
        </div>

      {% endif %}
  </div>
{% endfor %}
