{% extends "layout/base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">
{% endblock %}

{% block content %}
<div class="container mt32 mb32">
  <div class="row">
    <h3 class="light-blue-text text-darken-2 center-align">{{recipe.title}}</h3>
    {% if recipe.cuisines %}
      <h5 class="grey-text text-darken-2 center-align">
        Cuisines: {% for cuisine in recipe.cuisines %}{{cuisine}}{% if not forloop.last %}, {% endif %}{% endfor %}
      </h5>
    {% endif %}

    <ul class="tabs mb32">
      <li class="tab col s4"><a href="#statistics">Statistics</a></li>
      <li class="tab col s4"><a href="#overview">Overview</a></li>
      <li class="tab col s4"><a href="#steps">Step-by-Step</a></li>
    </ul>
    <div id="statistics">
      <div class="col m6 s12 timer-column valign-wrapper">
        <div class="valign center-align">
          <i class="material-icons">av_timer</i><br/>
          <span>{{recipe.readyInMinutes}} minutes</span>
        </div>
      </div>
      <div class="col m6 s12 carbs-column valign-wrapper">
        <div class="valign">
          <div id="chart"></div>
          <div class="center-align mt16">
            <input type="radio" name="group1" id="pie"
              class="with-gap chart-button" value="pie" checked="checked">
            <label for="pie" class="pr32">Pie</label>
            <input type="radio" name="group1" id="bar" class="with-gap chart-button" value="bar">
            <label for="bar" class="pr32">Bar</label>
          </div>
        </div>
      </div>
    </div>
    
    <div id="overview">
      <div class="col m5 s12">
        <img class="responsive-img" src="{{recipe.image}}">  
      </div>
      <div class="col m7 s12">
        <text>{{recipe.instructions}}</text>
      </div>
    </div>
  
    <div id="steps">
      <ul class="collapsible" data-collapsible="accordion">
        {% for step in recipe.analyzedInstructions.0.steps %}
          <li>
            <div class="collapsible-header">
              <i class="material-icons">add</i>
              Step: {{step.number}}
            </div>
            <div class="collapsible-body">
              <div class="row">

                {% if step.ingredients %}
                  <div class="col m4 s12">
                    <h5 class="light-blue-text text-darken-2">Ingredients:</h5>
                    {% for ingredient in step.ingredients %}
                      <span>{{ingredient.name}} {% if not forloop.last %},{% endif %}</span>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="col m8 s12">
                  <p>{{step.step}}</p>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Comments start here -->
  <div class="divider"></div>
  <div class="row">
    <div class="col s12">
      <div id="comments" data-recipe-id="{{recipe.id}}">
        {% include "recipes/comments.html" %}
      </div>

    </div>
  </div>

  <div class="fixed-action-btn">
    <a id="add_comment" class="btn-floating btn-large blue modal-trigger" href="#add_comment_modal">
      <i class="large material-icons">message</i>
    </a>
  </div>

  <!-- Add a new comment -->
  <div id="add_comment_modal" class="modal">
    <div class="modal-content">
      <h4>Add comment</h4>
      <form id="add_comment_form" action="/comments/add" method="post">
        {{form}}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="add_comment_form"
      class="modal-action modal-close waves-effect waves-green btn-flat white-text light-blue">Create</button>
      <a href="#!"
      class="modal-action modal-close waves-effect waves-green btn-flat btn-cancel">Cancel</a>
    </div>
  </div>

  <!-- Edit comment -->
  <div id="edit_comment_modal" class="modal">
    <div class="modal-content">
      <h4>Edit comment</h4>
      <form id="edit_comment_form" action="/comments/edit/" method="post">
        {{form}}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="edit_comment_form"
      class="modal-action modal-close waves-effect waves-green btn-flat white-text light-blue">Confirm</button>
      <a href="#!"
      class="modal-action modal-close waves-effect waves-green btn-flat btn-cancel">Cancel</a>
    </div>
  </div>

  <!-- Are you sure prompt to delete comment -->
  <div id="delete_modal" class="modal">
    <div class="modal-content">
      <h4>Delete comment</h4>
      Are you sure you want to delete the comment?
    </div>
    <div class="modal-footer">
      <a href="#!" id="delete_confirm"
      class="modal-action modal-close waves-effect waves-green btn-flat red white-text btn-delete">Delete</a>
      <a href="#!"
      class="modal-action modal-close waves-effect waves-green btn-flat btn-cancel">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
<script type="text/javascript">
$(function() {
  $('.modal').modal();
  var chart = c3.generate({
    bindto: '#chart',
    size: {
        height: 300,
        width: 300
    },
    data: {
      columns: [
        ['Carbohydrates', {{recipe.nutrition.caloricBreakdown.percentCarbs}}],
        ['Fat', {{recipe.nutrition.caloricBreakdown.percentFat}}],
        ['Protein', {{recipe.nutrition.caloricBreakdown.percentProtein}}]
      ]
    }
  });
  chart.transform('pie');

  $('.chart-button').on('click', function() {
    var value = $(this).val();
    chart.transform(value);
  });
  setInterval(update, 5000);
});

var update_allowed = true;

// Update comment section
function update() {

  if (update_allowed) {
    var url = '/recipes/{{recipe.id}}/comments';
    $.get(url).done(function(data) {
      var container = $('#comments');
      var previous_count = $(container).find('.card-panel').length;
      var new_element = $('<div></div>').html(data).find('.card-panel');
      var new_element_count = $(new_element).length;
      if (previous_count === new_element_count) {
        return;
      } else {
        container.html(new_element);
      }
    });
  }
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$('.modal-trigger').on('click', function() {
  var id = $(this).attr('id');
  var comment_id = $(this).data('id');
  update_allowed = false;
  if (id == 'delete_button'){
    $('#delete_modal').find('.btn-delete').attr('data-id', comment_id);
  } else if (id == 'edit_button') {
    console.log(comment_id);
    var body = $('#body_' + comment_id).html().trim();
    $('#edit_comment_form').find("#id_body").val(body);
  }
});

$('.modal-close').on('click', function() {
  update_allowed = true;
  setTimeout(update, 200);
});

// Delete comment js functionality
$('#delete_confirm').on('click', function() {
  var comment_id = $(this).data('id');
  var csrftoken = getCookie('csrftoken');
  $.post('/comments/delete/' + comment_id, {csrfmiddlewaretoken: csrftoken});
});


// Send a new comment only if body is not empty
$('#add_comment_form').on('submit', function(event) {
  event.preventDefault();
  var csrftoken = getCookie('csrftoken');
  var body = $(this).find('#id_body');
  var recipe_id = $('#comments').data('recipe-id');

  if (body.val().trim()) {
    $.post($(this).attr('action'), {
      csrfmiddlewaretoken: csrftoken,
      body: body.val().trim(),
      recipe_id: recipe_id
    });
  }
  body.val("");
});
</script>
{% endblock %}