{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<div class="container mt32">
  <div class="row">
    <form id="find_recipe" class="col l6 offset-l3 m8 offset-m2 s12" action="." method="get">
      <div class="input-field col s9">
        <input type="text" id="search" name="search" class="validate">
        <label for="search">Search recipes</label>
      </div>
      <div class="input-field col s3">
        <button class="btn-floating btn-large light-blue darken-2" type="submit" name="action">
          <i class="material-icons right">search</i>
        </button>
      </div>
    </form>
  </div>
  <br/>
  <div class="divider"></div>
  <div class="row">
    <div id="search_results">
      <center>
        <h3>No recipes found! Try searching!</h3>
      </center>
    </div>
  </div>
</div>
{% endblock%}
{% block custom_js %}
<script type="text/javascript" src="{% static 'js/show_recipes.js' %}"></script>
{% endblock %}